<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412416033947-njt2c0e7s45b0ihc1gkeut16mpo3e122.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412416033947-njt2c0e7s45b0ihc1gkeut16mpo3e122</string>
	<key>API_KEY</key>
	<string>AIzaSyCbrgXEmlFArkWPh18N3dXFT6kuW2O2qAM</string>
	<key>GCM_SENDER_ID</key>
	<string>412416033947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robertfranczak.RLTest</string>
	<key>PROJECT_ID</key>
	<string>mytest-17469</string>
	<key>STORAGE_BUCKET</key>
	<string>mytest-17469.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412416033947:ios:1f2e1623f2d5da6832b23e</string>
</dict>
</plist>